@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  transition: all 0.3s;
  padding: 0;
  margin: 0;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155);
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

html,
body {
  @apply bg-white;
  font-size: 16px;
  font-family: Inter;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, #fff, #e5e5e5);
}

.container {
  @apply max-w-screen-2xl;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .container {
    @apply max-w-screen-2xl;
    width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .container {
    @apply max-w-screen-2xl;
    width: 95%;
    margin: 0 auto;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}
