.ad-section-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  height: 40vh;
  overflow: hidden;
}

.ad-section-container {
  width: 100%;
  padding: 1rem 1rem;
  overflow: hidden;
}

.ad-section-main-title {
  @apply text-white;
  font-weight: 800;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.ad-section-sub-title {
  color: #fffd00;
  font-weight: 800;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.ad-section-text {
  @apply text-white;
  width: 40%;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  z-index: 5;
}

.ad-section-img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 33%;
}

@media (max-width: 600px) {
  .ad-section-wrapper {
    height: 30vh;
    padding: 1rem .3rem;
  }
  .ad-section-main-title {
    font-size: 1rem;
  }

  .ad-section-sub-title {
    font-size: 1rem;
  }
  .ad-section-text {
    @apply text-white;
    width: 80%;
  }

  .ad-section-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 63%;
  }

  .ad-section-img {
    display: none;
  }
}

.btn {
  font-size: 0.7rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 15px;
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 0;
  z-index: 50;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.3);
}

.ad-section-cta-solid {
  @apply bg-white text-primarydarkblue;
}

.ad-section-cta-solid:hover,
.ad-section-cta-solid:active {
  background: rgb(190, 190, 190);
}

.ad-section-cta-outline {
  @apply bg-transparent text-white;

  border: 1px solid #fff;
}
.ad-section-cta-outline:hover,
.ad-section-cta-outline:active {
  background: rgba(255, 255, 255, 0.247);
}
